<div class="animated zoomIn" id="particles-js"></div>
<div id="pusher">
    <div class="ui inverted vertical masthead massive center aligned segment animated zoomIn" id="1">
        <div class="ui text container animated fadeIn slow">
            <h1 class="ui inverted header">
                Hi, my name is <strong>Kent Okazaki.</strong>
            </h1>
            <h2>Full-stack web developer.</h2>
            <a href="#2">
                <div class="ui huge inverted button" id="introBtn">
                    Learn More About Me
                    <i class="fas fa-arrow-right introArrow"></i>
                </div>
            </a>
        </div>
        <div class="ui container animated fadeInUp slow" id="introMenu">
            <div class="ui large secondary inverted pointing menu centered">
                <a class="item" href="#2">About Me</a>
                <a class="item">Portfolio</a>
                <a class="item">Contact Me</a>
            </div>
        </div>
    </div>
</div>
<div class="ui inverted" id="2">
    <div class="ui grid row stackable centered">
        <div class="row">
            <div class="sixteen wide column center aligned" data-aos="fade-down">
                <h1>About Me</h1>
            </div>
        </div>
        <div class="row">
            <div class="five wide column" data-aos="fade-right">
                <div class="ui segment">
                    <img class="ui medium circular image fluid centered" id="bioImg" src="assetts/media/bio.JPG"
                        alt="Bio Picture" />
                </div>
            </div>
            <div class="eight wide column" data-aos="fade-in">
                <div class="ui segment" id="aboutMeSegment">
                    <p id="aboutMe">
                        Hello, my name is Kent Okazaki and I am a web developer. I am
                        taking a web development boot camp course at UCSD by TrilogyEd.
                        I have background in programming languages such as Java and C++.
                        Due to curiosity, I introduced myself into programming through
                        modding video games and rooting android devices during my four
                        years of highschool. I created addon contents for games such as
                        ArmA2 and ArmA3. In my sophomore year of community college, I
                        took a Java class for a semester. I have always been into
                        techonology. I decided to look into web development because I
                        was curious to see how every website is created. Moreover, I
                        wanted to challenge myself and learn more about programming.
                    </p>
                </div>
            </div>
        </div>
        <div class="ui grid row" data-aos="fade-in">
            <div class="ui thirteen wide column">
                <div class="ui horizontal segments">
                    <div class="ui segment center aligned">
                        <span data-aos="fade-in" data-aos-delay="300">
                            <i class="fab fa-html5"></i>
                            <h2 class="iconFont">Front-End</h2>
                        </span>
                    </div>
                    <div class="ui segment center aligned">
                        <span data-aos="fade-in" data-aos-delay="400">
                            <i class="fas fa-mobile-alt"></i>
                            <h2 class="iconFont">Responsive</h2>
                        </span>
                    </div>
                    <div class="ui segment center aligned">
                        <span data-aos="fade-in" data-aos-delay="500">
                            <i class="fas fa-lightbulb"></i>
                            <h2 class="iconFont">Creative</h2>
                        </span>
                    </div>
                    <div class="ui segment center aligned">
                        <span data-aos="fade-in" data-aos-delay="600">
                            <i class="fab fa-node"></i>
                            <h2 class="iconFont">Back-End</h2>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>