canvas {
	position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	z-index: -2;
}
#particles-js {
	position: absolute;
	/* width: 100%;
	height: 100%; */
	background-color: white;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: 50% 50%;
	z-index: -1; */
}

#particles-js .particles-js-canvas-el {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-animation: appear 1.4s 1;
	animation: appear 1.4s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
/* 
@media (max-width: 768px) {
	canvas {
		max-width: 768px;
		width: 100% !important;
		height: auto !important;
	}
} */